---
import MainLayout from "@/layouts/MainLayout.astro"
import { getAllPosts } from "@/utils/getPosts"
import getTaxonomy from "@/utils/getTaxonomy"
import { slugify, slugifyReverse } from "@/utils/libs/utils"
import taxonomyFilter from "@/utils/taxonomyFilter"

export async function getStaticPaths() {
	const categories = await getTaxonomy("posts", "categories")

	return categories.map(category => {
		return {
			params: { category: slugify(category) },
		}
	})
}

const { category } = Astro.params

const posts = await getAllPosts("posts")
const filterByTags = taxonomyFilter(posts, "categories", category)

const title = `Постов по категории: ${slugifyReverse(category)} (${filterByTags.length})`
---

<MainLayout title={title} description="">
	{filterByTags.map(post => <a href={`/posts/${post.slug}`}>{post.data.title}</a>)}
</MainLayout>
